/* CSS reset. Different browsers use different default margins,*/
/*The universal selector "*" sets all elements to have zero padding*/
/*and zero margin, making them look the same in all browsers */
* {
    margin: 0px;
    padding: 0px;
}

/*body limits height*/
body {
    height: 100%;
    font-family: Arial, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/*___________________________________
Text
___________________________________*/

/*sets up how Present logo should be displayed*/
.presentBigTitle {
    width: 100%;
    display: block;
    font-size: 80px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-family: "alex_brushregular", Arial, sans-serif;
}

.presentSubTitle {
    width: 100%;
    display: block;
    font-size: 35px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-family: "alex_brushregular", Arial, sans-serif;
}

.presentSlogan {
    width: 100%;
    display: block;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-family: "alex_brushregular", Arial, sans-serif;
}

.presentText {
    width: 100%;
    display: block;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}


/*__________________________
Limiter and containers
__________________________*/


/*limiter limits width*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

/*enclose everything in a container*/
.mainContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #FFEBCD;
}

/*wrap container define wrapping rules*/
.wrapContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    justify-content: center;
}

/*__________________________
Home
__________________________*/

.homeSelection {
    width: 450px;
    height: 300px;
    display: block;
    padding: 50px 30px 30px 30px;
    background: #fff;
}

.homePopUp {
    display: none;
    background: #fff;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1;
}

.homeLogin-content {
    display: inline-block;
    background: #fff;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.homeSignUp-content {
    display: inline-block;
    background: #fff;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.homeInputsContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
}

.homeButtonsContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    gap: 20px;
}

.submitButtonsContainer {
    display: inline-block;
    align-content: end;
    align-items: end;
    justify-content: end;
}

.welcome-leftArea {
    width: calc(100% - 820px);
    max-height: 100vh;
    padding: 0 55px 55px 55px;
    display: flex;
    background-position: center;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
}

/*__________________________
T & C
__________________________*/

.tAndC {
    padding: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 10px;
}

/*__________________________
Central Container
__________________________*/

.centralArea {
    position: absolute;
    display: inline-block;
    top: 67px;
    left: 193px;
    height: calc(100vh - 283px);
    width: calc(100% - 582px);
    overflow: auto;
    padding: 50px;
    justify-content: center;
    align-content: center;
}

/*__________________________
Personal Area
__________________________*/

.personalArea-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.personalArea-content {
    background: #fff;
    padding: 5px;
    min-height: 500px;
    min-width: 400px;
    justify-self: flex-start;
    align-self: flex-start;
}

.personalArea-sideBar {
    display: inline-block;
    position: relative;
    justify-self: flex-start;
    align-self: flex-start;
    border-radius: 8px;
    margin-right: -3px;
    z-index: 1;
    min-width: 100px;
    padding: 30px 13px 10px 10px;
}


/*___________________________
Header
_____________________________*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu  */
.show {
    display: block;
}

.site-header {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    width: 100%;
    background-color: #faf2e6;
    border-bottom: 1px solid #e09a5b;
}

.site-header__start {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.site-header__end {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 800px) {
    .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 800px) {
    .nav__wrapper {
        display: flex;

    }
}

@media (max-width: 799px) {
    .nav__wrapper {
        position: absolute;
        top: calc(100% + 35px);
        right: 0;
        left: 0;
        z-index: -1;
        background-color: #d9f0f7;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__item:not(:last-child) {
    margin-right: 0.5rem;
}

.eventMaker-container {
    display: block;
    max-width: 600px;
    height: 100%;
    justify-content: center;
}

.eventMaker-zone {
    display: block;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: #FFC0C7;
    width: calc(33%);
    margin: 10px;
}

/*__________________________________
Footer
__________________________________*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    height: 105px;
    width: 100vw;
    padding-top: 10px;
    color: black;
    border-top: 1px solid black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}


/*__________________________________
Sidebar Menu
__________________________________*/

.menu {
    height: calc(100vh - 183px);
    width: 10%;
    position: fixed;
    display: block;
    top: 67px;
    left: 0;
    flex-direction: column;
    outline: none;
    background-color: #faf2e6;
    border-right: 1px solid #e09a5b;
    align-items: center;
}

/*__________________________________
Sidebar Search
__________________________________*/

.search-sideBar-container {
    background: #fff;
    height: calc(100vh - 183px);
    width: 15%;
    position: fixed;
    display: flex;
    top: 67px;
    left: 85%;
    flex-direction: column;
    outline: none;
    border-left: 1px solid black;
}


.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    overflow: auto;
    padding: 5px;
}

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.search-wrapper-guests {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.guest-cards {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    overflow: auto;
    padding: 5px;
}


/*__________________________________
Single Elements
__________________________________*/

.button-home {
    background-color: #FFEBCD;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inherit;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-home:hover {
    background-color: #FFE4C4;
    transform: translateY(-2px) translateX(-2px);
}

.button-home:focus {
    background-color: #FFE4C4;
}

@media (min-width: 768px) {
    .button-home {
        padding: 16px 44px;
        min-width: 150px;
        justify-content: center;
    }
}

.button-nav {
    background-color: #FFEBCD;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inherit;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    align-items: stretch;
    min-height: 56px;
    min-width: 160px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-nav:hover, .button-nav:focus {
    background-color: #FFE4C4;
}

.button-nav-white {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inherit;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    align-items: stretch;
    min-height: 56px;
    min-width: 160px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-nav-white:hover, .button-nav-white:focus {
    background-color: #FFCC99;
}

.button-personalArea {
    background-color: #FFEBCD;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    margin: 0;
    align-content: end;
    align-items: end;
    justify-content: end;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-personalArea:hover {
    background-color: #FFE4C4;
    transform: translateY(-2px) translateX(-2px);
}

.button-personalArea:focus {
    background-color: #FFE4C4;
}

@media (min-width: 768px) {
    .button-personalArea {
        padding: 5px 7px;
        justify-content: center;
        justify-self: end;
    }
}

.input-home {
    background-color: #FFEBCD;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inherit;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    width: 100%;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.input-home:focus {
    opacity: 0.4;
}

@media (min-width: 768px) {
    .input-home {
        padding: 16px 44px;
        min-width: 150px;
    }
}

.nav__item a {
    display: block;
    padding: 1rem;
    border-left: 4px solid transparent;
}

@media (min-width: 800px) {
    .nav__item a {
        text-align: center;
        border-left: 0;
        border-bottom: 4px solid transparent;
    }
}

.nav__item.active a {
    border-left-color: #222;
}

@media (min-width: 800px) {
    .nav__item.active a {
        border-bottom-color: #222;
    }
}

/*___________________________________
Inputs and Forms
___________________________________*/

.welcome-form {
    max-height: 100vh;
    display: block;
    padding: 20px;
    background: #fff;
}


/*___________________________________
Elements used for JS
___________________________________*/

.hidden {
    opacity: 0;
    transition: opacity 2s;
}

.delayedTransition {
    transition-delay: 1s;
}

.visible {
    opacity: 1;
}

.inactive-item {
    opacity: 0;
}

/*___________________________________
Fonts
___________________________________*/


@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/AlexBrush-Regular.ttf');
}


/*______________________________________
Misc
______________________________________*/

/*borders rules*/
.bordersRules {
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(255, 235, 205, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
}

.x {
    position: absolute;
    left: 88%;
    top: 0;
    padding-top: 10px;
}

.image-button {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: inherit;
    border: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    top: 50%;
    left: 50%;
}






