/* CSS reset. Different browsers use different default margins,*/
/*The universal selector "*" sets all elements to have zero padding*/
/*and zero margin, making them look the same in all browsers */
* {
    margin: 0px;
    padding: 0px;
}

/*body limits height*/
body {
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

/*limiter limits width*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

/*enclose everything in a container*/
.mainContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

/*wrap container sets up wrapping rules*/
.wrapContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

}
.welcome-img-container {

}